footer {
  background-color: #90d23d;
  padding: 60px 165px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div.contacts {
    max-width: 377px;
    margin: 0 auto;
    text-align: center;
    p.icon {
      font-size: 45px;
      margin:0 0 33px;
      line-height: 46px;
      a {
        text-decoration: none;
      }
    }
    p.text {
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      line-height: 18px;
    }
  }
  a.go-up {
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
  }
  a.go-up:hover {
    box-shadow: 1px 1px 2px black, 5px 5px 20px black;
  }
  div.empty {
    display: none;
  }
}