@import "header";
@import "section-start";
@import "section-elite";
@import "section-sponsor";
@import "section-contact";
@import "footer";
@import "mixin";

* {
	box-sizing: border-box;
	transition: all .3s ease;
}
body{
	margin: 0;
	padding: 0;
	color: #242424;
	font-family: Roboto, Times, serif;
	font-size: 14px;
	letter-spacing: -0.1px;
}






