@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}
* {
	box-sizing: border-box;
	transition: all .3s ease;
}
body{
	margin: 0;
	padding: 0;
	color: #242424;
	font-family: Roboto, Times, serif;
	font-size: 14px;
	letter-spacing: -0.1px;
}

/*styles for header*/
div.wraper_nav {
	margin: 0 auto;
	max-width: 1029px;
}
header {
	padding-top: 43px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
div.wraper_nav {
	margin: 0 auto;
	max-width: 1029px;
}
div.container_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	nav {
		ul{
			list-style: none;
			display: flex;
			li {
				margin-left: 40px;
				a {
					color: #ffffff;
					font-family: "Roboto", Times, sans-serif;
					font-size: 15px;
					font-weight: 400;
					text-transform: uppercase;
					text-decoration: none;
				}
			}
		}
	}
	div.item_logo {
		width: 355px;
		height: 65px;
		position: relative;
		background: url(../img/envato-bd-logo.png) no-repeat;
		a {
			display: flex;
			width: 233px;
			height: 65px;
		}
	}
}
div.baner {
	height: 796px;
	background: url("../img/hero-shot.png") no-repeat center top;
	position: relative;
	div.wraper_timer {
		padding-top: 226px;
		margin: 0 auto;
		max-width: 972px;
		div.container_timer {
			box-sizing: border-box;
			height: 198px;
			border-radius: 20px;
			border: 2px solid #90d23d;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 79px;
			div.item_timer {
				max-height: 100%;
				text-align: center;
				display: flex;
				flex-direction: column;
				span.number {
					color: #ffffff;
					font-family: "Roboto Slab", Times, serif;
					font-size: 130px;
					font-weight: 100;
					text-transform: uppercase;
					position: relative;
					line-height: 130px;
				}
				span.number::after {
					content: ":";
					display: block;
					position: absolute;
					top: 0;
					left: 100%;
					margin-left: 30px;
				}
				span.last::after {
					display: none;
				}
				span.time {
					color: #ffffff;
					font-family: "Roboto Slab", Times, serif;
					font-size: 25px;
					font-weight: 400;
					text-transform: uppercase;
				}
			}
		}
	}
}
section.start {
	/*form and welcome text*/
	div.wraper_form {
		margin: 0 auto;
		max-width: 1031px;
		div.container_form {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			div.welcome {
				max-width: 527px;
				h4 {
					color: #242424;
					font-size: 50px;
					font-weight: 900;
					line-height: 50px;
					padding: 0;
					margin: {
						top:20px;
						bottom: 0;
					}
				}
				p:last-child {
					margin-bottom: 0;
				}
			}
			div.wrapper_item {
				position: relative;
				max-width: 431px;
				div.item_form {
					box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
					width: 431px;
					height: 530px;
					position: absolute;
					bottom: 0;
					right: 0;
					background-color: white;
					h4{
						color: #252525;
						font-size: 30px;
						font-weight: 700;
						margin: 33px 0 20px;
						text-align: center;
					}
					p{
						text-align: center;
					}
					form {
						display: flex;
						flex-direction: column;
						height: 372px;
						input {
							width: 371px;
							min-height: 54px;
							border-radius: 5px;
							border: 1px solid #bebebe;
							margin:0 auto 20px;
							color: #6c6c6c;
							font-size: 25px;
							font-weight: 300;
							@include placeholder {
								color: #6c6c6c;
								font-size: 19px;
								font-weight: 300;
							}
						}
						input:focus {
							outline: none;
							border: 1px solid #90d23d;
						}
						input[type="submit"] {
							margin-top: 20px;
							margin-bottom: 5px;
							min-height: 58px;
							border-radius: 5px;
							background-color: #90d23d;
							color: #ffffff;
							font-family: Roboto, Times, serif;
							font-size: 22px;
							font-weight: 700;
						}
					}
				}
			}
		}
		/*community...*/
		div.container_comm {
			margin-top: 142px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			div.item_comm {
				height: 369px;
				width: 298px;
				div.icon_comm {
					height: 211px;
					display: flex;
					align-items: flex-end;
					justify-content: center;
					margin-bottom: 40px;
				}
				div.text_comm {
					height: 118px;
					text-align: center;
					h4 {
						color: #242424;
						font-size: 35px;
						font-weight: 700;
						margin: 0;
					}
				}
			}
		}
		/*table*/
		div.table_container {
			margin-top: 100px;
			table {
				border-spacing: 0;
				width: 100%;
				height: 375px;
				text-align: center;
				border-radius: 15px;
			    overflow: hidden;
				color: #ffffff;
				font-size: 22px;
				font-weight: 400;
				tr:nth-child(even){
					background-color: #373737;	
				}
				tr:nth-child(odd){
					background-color: #4b4d4f;
				}
				td, th{
					padding: 0 50px;
				}
				th {
					background-color: #a3cc40;
					color: #ffffff;
					font-size: 30px;
					font-weight: 700;
				}
				td:nth-child(2), th:nth-child(2) {
					text-align: left;
				}
			}
			p {
				text-align: center;
				max-width: 827px;
				margin: 0 auto;
				padding: 40px 0 0;
			}
		}
	}
}
section.elite {
	margin-top: 85px;
	div.elite_baner {
		background: url("../img/elite.png") no-repeat top center;
		width: 100%;
		height: 775px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		div.revard {
			max-width: 665px;
			height: 351px;
			margin-right: 165px;
			text-align: right;
			color: #ffffff;
			font-weight: 300;
			margin-top:33px;
			h4{
				color: #ffffff;
				font-size: 50px;
				font-weight: 700;
				margin:0 0 20px;
			}
			a {
				display: inline-block;
				padding: 19px 26px;
				color: #ffffff;
				font-family: Roboto, Times, serif;
				font-size: 18px;
				font-weight: 300;
				border-radius: 15px;
				background-color: #90d23d;
				text-decoration: none;
				margin-top: 28px;
			}
		}
	}
	div.wrapper_speak {
		max-width: 970px;
		margin: 146px auto 0;
		div.speak_text {
			max-width: 575px;
			margin-bottom: 48px;
			h4 {
				color: #242424;
				font-size: 50px;
				font-weight: 700;
				margin: 0 0 20px;
			}
		}
		div.container_speak {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			div.speak_items {
				margin-bottom: 41px;
				border-radius: 15px;
				height: 296px;
				width: 296px;
				background: url("../img/speak-items.png") no-repeat center top;
			}
			div.speak_items:nth-child(5) {
				background: url("../img/arm.png") no-repeat center center;
			}
			div.speak_items:nth-child(2) {
				background: url("../img/bg-speak-item.png") no-repeat center top;
				padding: 35px 35px 0 35px;
				h5 {
					color: #fefefe;
					font-size: 45px;
					font-weight: 700;
					line-height: 43px;
					margin: 0 0 13px 0;
				}
				hr {
					width: 83px;
					height: 6px;
					background-color: #ffffff;
					border: none;
					margin-left: 0;
				}
				p {
					color: #fefefe;
					font-size: 18px;
					font-weight: 500;
				}
				div.icons {
					font-size: 31px;
					margin-top: 44px;
					a {
						text-decoration: none;
					}
				}
			}
		}
	}
}